.cv-content {
    margin: 30px;
}

.cv-header {
    background-color: #b30000;
    padding: 50px 0;
}

.general-info {
    margin: 50px 0;
}

.border-color-red {
    border-color: #b30000;
}

.padding-left-15 {
    padding-left: 15px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -100px;
}

.red-icon {
    color: #b30000;
}

.left-field {
    color: #b30000;
    font-size: 25px;
    font-weight: bold;
}

.left-field i {
    color: white;
    background-color: #b30000;
    border-radius: 50%;
    padding: 3px;
}

.line {
    height: 7px;
    background-color: #b30000;
    margin-top: 7px;
    border-radius: 4px;
}

.padding-50-0 {
    padding: 50px 0;
}